<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <!-- Titolo -->
    <a class="navbar-brand" href="#">Agritech</a>

    <!-- Barra di ricerca -->
    <form class="d-flex w-100 me-auto navbar-center">
      <input #myInput class="form-control me-2 search-bar" type="search" placeholder="Ricerca prodotti..." aria-label="Search" (keyup.enter)="searchForQuery(myInput.value)">
      <button id="searchButton" class="btn btn-outline-dark" type="submit" (click)="searchForQuery(myInput.value)">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </button>
    </form>
    <!-- Fine della barra di ricerca -->

    <!-- Menu a tendina -->
    <div class="dropdown">
      <button class="dropbtn"><i class="fas fa-bars"></i></button>
      <div class="dropdown-content">
        <a routerLink="/chiSiamo">Chi Siamo</a>
        <a routerLink="/home">Product</a>
        <a routerLink="/admin" *ngIf="isAdmin()">Admin</a>
        <a routerLink="/cart" class="btn">
          <div class="total">{{ cart.grandTotal | currency : "EUR" }}</div>
          Carrello
        </a>
        <a routerLink="/login" class="btn" *ngIf="!isLoggedIn()">Accedi</a>
        <a routerLink="/profile" *ngIf="isLoggedIn()">Profilo</a>
        <a (click)="logout()" *ngIf="isLoggedIn()">Esci</a>
      </div>
    </div>
  </div>
</nav>




