.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  color: white;
  box-sizing: border-box;
  height: 70px;
}

.navbar-custom {
  background-color: #228b22;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: orange; /* Testo arancione */
}

.navbar-center {
  flex: 4;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 900px; /* Larghezza fissa della barra di ricerca */
  height: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 10px;
}

#searchButton {
  background-color: #228b22; /* Colore di sfondo verde */
  color: white; /* Colore del testo bianco */
  padding: 0.5rem 1rem; /* Spaziatura interna */
  border: none; /* Nessun bordo */
  border-radius: 4px; /* Bordi arrotondati */
  height: 100%; /* Altezza del bottone */
  margin-top: 15px; /* Spazio superiore */
  cursor: pointer; /* Puntatore al passaggio */
  margin-right: 20px;
}

#searchButton:hover {
  background-color: #1e7a1e; /* Verde più scuro al passaggio del mouse */
  color: white; /* Colore del testo bianco */
}

#searchButton:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Effetto focus */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #228b22; /* Colore di sfondo */
  color: white; /* Colore del testo */
  padding: 16px; /* Spaziatura */
  font-size: 16px; /* Dimensione del testo */
  border: none; /* Nessun bordo */
  cursor: pointer; /* Puntatore al passaggio */
  margin-right: 100px; /* Spaziatura a destra */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black; /* Colore del testo */
  padding: 12px 16px; /* Spaziatura interna */
  text-decoration: none; /* Nessuna sottolineatura */
  display: block; /* Elemento a blocco */
}

.dropdown-content .btn {
  background-color: #228b22; /* Colore di sfondo verde */
  color: white; /* Colore del testo bianco */
  padding: 0.5rem 1rem; /* Spaziatura interna */
  font-size: 16px; /* Dimensione del testo */
  border: none; /* Nessun bordo */
  cursor: pointer; /* Puntatore al passaggio */
  margin-left: 0; /* Nessuna spaziatura a sinistra */
}

.dropdown-content .btn:hover {
  background-color: #1e7a1e; /* Verde più scuro al passaggio del mouse */
}

.dropdown-content a:hover {
  background-color: #f1f1f1; /* Colore sfondo al passaggio */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

  
  