<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TheShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item">
          <div class="justify-content-md-center">
            <form class="d-flex" role="search">
              <input class="form-control col" type="search" placeholder="Ricerca prodotti" aria-label="Search" [(ngModel)]="searchQuery" name="searchInput">
              <button class="btn btn-outline-success col-auto" type="submit" (click)="searchForQuery(searchQuery)">Search</button>
            </form>
          </div>
        </li>
        </ul>
      </ul>
        <a class="btn btn-success" href="/login" role="button">Accedi</a>
    </div>
  </div>
</nav>
