<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TheShop</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ul class="navbar-nav mr-auto ml-auto">
        </ul>
      </ul>

         <button class="btn btn-success me-1" *ngIf="isAdmin()" [routerLink]="['/admin']">
           <fa-icon [icon]="loginIcon"></fa-icon>
           ADMIN
         </button>

        <button class="btn btn-light me-1" [routerLink]="['/cart']">
          <div class="total">
            {{ cart.grandTotal | currency : "EUR" }}
          </div>
          <fa-icon [icon]="cartIcon"></fa-icon>
        </button>

        <button class="btn btn-success" *ngIf="!isLoggedIn()" [routerLink]="['/login']">
          <fa-icon [icon]="loginIcon"></fa-icon>
          Accedi
        </button>

      <button class="btn btn-light me-1" *ngIf="isLoggedIn()" [routerLink]="['/profile']">
        <fa-icon [icon]="profileIcon"></fa-icon>
      </button>

        <button class="btn btn-danger" *ngIf="isLoggedIn()" (click)="logout()">
          <fa-icon [icon]="logoutIcon"></fa-icon>
          Esci
        </button>
    </div>
  </div>
</nav>
