<div class="category-container">
    <p>
      Nel 2000 a Reggio Emilia viene fondata da tre soci, un’azienda che mirava fin da subito a soddisfare i bisogni dei loro clienti cercando di ricoprire una clientela più vasta possibile. Proprio per questo offre sia macchine agricole, necessarie ai piccoli contadini, ma anche macchine per le grandi aziende; questa caratteristica ha concesso all’azienda di crearsi fin da subito un portafoglio clienti molto numeroso che è aumentato nel corso degli anni. 
      Nel 2020 uno dei figli dei soci fondatori, durante un’analisi di mercato, si accorge che in Calabria (in particolar modo nella provincia di Cosenza), c’è una numerosa presenza di aziende agricole ma una quasi totale assenza di concessionarie pari alla loro.
      I tre soci decidono dunque di aprire una nuova sede a Rende, chiamarla “AgriTech” e affidarne la gestione ai rispettivi figli. Nel corso degli anni, dunque, Eugenio Macchione, Rocco Martino e Silvia Costantino sono riusciti a portare in alto anche la loro azienda, seguendo la filosofia aziendale dei genitori. Ad oggi la concessionaria "AgriTech" è un punto di riferimento nel settore agricolo, ha sede a Quattromiglia 87036 (CS) nella zona industriale in via Diaz 3 immersa in un contesto di aziende agricole.
    </p>
    <img src="https://www.geier.it/fileadmin/_processed_/e/e/csm_51080057_s_26d8d33efa.jpg" alt="Immagine azienda agricola">
    <p>
      Il nostro personale è a completa disposizione per qualsiasi vostra esigenza.
           </p>
    <img src="https://www.maiergroup.it/public/Files/rif000007/69/maier-group-officina.jpg" alt="Immagine personale">
    <p>
      “AgriTech” è un’azienda che si sviluppa su un grande spazio in quanto presenta all’ingresso un parco macchine, con una vasta selezione di mezzi agricoli, per soddisfare le vostre esigenze.    </p>
    <img src="https://cdn.motor1.com/images/mgl/Mk8rQw/s3/agribertocchi-e-john-deere-cosi-e-il-concessionario-4.0.webp" alt="Immagine parco macchine">
  
</div>
