<div class="container mt-5">
  <div class="card p-2">
    <div class="row">
      <div class="col-6">
        <form #categoryForm="ngForm" (ngSubmit)="submit(categoryForm)">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nome della categoria</mat-label>
            <input matInput
                   placeholder="Nome del categoria"
                   [(ngModel)]="category.name"
                   name="name">
          </mat-form-field>

          <div>
            <button mat-stroked-button color="primary" style="margin-right: 3px;">Reset</button>
            <button type="submit" mat-stroked-button color="primary" *ngIf="isNewCategory">Aggiungi</button>
            <button type="submit" mat-stroked-button color="primary" *ngIf="!isNewCategory">Modifica</button>
          </div>
        </form>

      </div>


    </div>
  </div>
</div>
