<router-outlet></router-outlet>
<div class="container mt-5">
  <div class="card" style="padding: 20px;">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input type="email" matInput ngModel name="email" id="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input type="password" matInput ngModel name="password" id="password">
      </mat-form-field>

      <button class="w-100" type="submit" mat-raised-button color="primary">Accedi</button>

      <button type="button" class="btn btn-link w-100" [routerLink]="['/register']">Non sei ancora registrato? Iscriviti!</button>

    </form>
  </div>
</div>
