<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <div formGroupName="shippingAddress" class="form-area">
          <h3>Indirizzo di spedizione</h3>

          <div class="row">
            <div class="col-md-2">
              <label> Numero di telefono </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="phone" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> Stato </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="state" type="text" />
                </div>
              </div>
            </div>

          <div class="row">
            <div class="col-md-2">
              <label> Regione </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="region" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> Città </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> Via </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>

          </div>




        <div class="form-area">
          <p>Quantità totale: {{ cart.quantity }}</p>
          <p>Spedizione: GRATUITA</p>
          <p>Prezzo totale: {{ cart.grandTotal | currency : "EUR" }}</p>
        </div>

        <div class="text-center">
          <button type="submit" [disabled]="isDisabled" class="btn btn-info">
            Acquista
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
